@import "reset.css";
@import "normalize.css";

/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);*/

body{
	font: normal 14px "Open Sans", Arial, sans-serif;
	color: #999;
	background: #949494;
}
.wrap {
width: 400px;
/*helps center it*/
margin: 0 auto;
}
.task-list {
	width: 88%;
	min-height: 300px;
	background: #D5D0D0;
	box-shadow: 2px 2px 0px #525252;
	margin-top: 40px;
	padding: 22px 6%; 

}

/* media query for iphone 3gs-6+, blackberryZ10 & Z30, google nexus 4-5, google nexus s, galaxy note 1-3, samsung galaxy  */
@media (max-width: 767px) {
	body{
		background: #6E6B6B;
		
	}
	.task-list{
		color: #E5E5E5;
	}

}
/*media query for galaxy tab ipad 1-4 & mini, blackberry playbook*/
@media (min-width: 992px) and (max-width: 1199px) {
	body{
		background-color: #C0BBBB;
	}
}